body {
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

img {
  width: 100%;
}

#center_col {
  margin: 0 !important;
  overflow-x: hidden !important;
  width: 95vw !important;
}

#res {
  column-count: 2 !important;
  column-gap: 40px !important;
  column-rule: 1px solid lightgrey !important;
  width: 100vw !important;
}

#res ._NId {
  clear: both;
  overflow-x: auto !important;
  width: 40vw;
}

#res .g {
  box-sizing: border-box;
  display: inline-block;
}

#iur {
  width: 100%;
}

#rhs {
  background-color: white !important;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  margin-right: 0 !important;
  margin-left: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  transition: .3s right;
  top: -40px !important;
  right: -400px !important;
  width: 460px !important;
  z-index: 1000 !important;
}

#rhs:hover {
  right: 0px !important;
}

#rhs #rhs_block,
#rhs #rhs_block .g.rhsvw.mnr-c.g-blk,
#rhs #rhs_block .g.rhsvw.mnr-c.g-blk .kp-blk {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}

#rc {
  width: 40vw;
}

.mw {
  max-width: 100vw !important;
}
